!!! 5
html
  head
    title=title
    include include/head
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    .container
      p=msgs01
      form.form-signin(method='post',action='/login')
        h2.form-signin-heading 需要登录哟
        input.input-block-level(type='text', placeholder='用户名')
        input.input-block-level(type='password', placeholder='密码')
        label.checkbox
          input(type='checkbox', value='remember-me')
          | 记住我
        button.btn.btn-large.btn-primary(type='submit') 登录
    // /container
